* {
  box-sizing: border-box;
}
    img  { 
    display: block;
    margin: auto;
    width: 50%;
    padding: 1em;

    }
  
    

body {
  background-image: url("images/background-blog.png");
  background-color: #F0F4EF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

p {
  background-color: #F0F4EF;
  opacity: 90%;
  border: solid #0D1821 3px;
  border-radius: 5px;
  color: #0D1821;
  margin: 1em 1em 1em 1em;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
}



.header {
display: block;
width: 100%;
margin: 1px;
padding: 10px;
text-align: center;
position: sticky;
font-family: cursive;
font-size: 32px;
color: #0D1821;
object-fit: fill;

}

.main-img { 
  width: 50%;
  padding: 1em;
  border: dotted #344966 8px;
  border-radius: 50%;} 

.nav-bar {
  position: -webkit-sticky; /* Safari */
  position: sticky; /* i think this is broken...*/
  top: 0;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  margin: auto;
  padding: 1em;
  width: 100%;
  background-color: #BFCC94;
  color: #f2f2f2; /*this also seems to be broken */
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 17px;
  border: solid #0D1821 2px;
  border-radius: 10px;
} 

/*.home-button{
  position: sticky; /* fixed? bottom right? 
  border: solid #E6AACE 2px;
  border-radius: 70%;
  color: #344966;
  background-color: #BFCC94;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
} */

.home-button{
  position: fixed;
  top: 10px;
  right: 10px; 
  border: solid #E6AACE 2px;
  border-radius: 70%;
  color: #344966;
  background-color: #BFCC94;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
}

.nav-link {
  color: #344966 }

/*.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

a:link {
  color: #344966;
  text-decoration: none;
  /*padding: 10px;
  border-radius: 50%;*/
}

a:visited {
  color: #344966;
  text-decoration: none;
}

a:hover {
  /*padding: 10px;
  border-radius: 50%;  
  background-color: #E6AACE;
  border: inset #F0F4EF;*/
  color: #0D1821;
  text-decoration: none;
}

a:active {
  color: #0D1821;
  text-decoration: none;
}

li a {
  display: inline; 
  width: 100%;
}

/* .nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    float: left;
    color: #f2f2f2;
    text-align: center;
    margin-bottom: 100px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: solid black;

} */

.blog-text-main {
  color:(#0D1821);
  font-family: 'Montserrat', sans-serif;
}

.bold-header {
  color:(#0D1821);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

}


.blog-post {
  background-color: #E6AACE;
  /*height: 30em;
  overflow: scroll; */
  border: solid #0D1821 3px;
  border-radius: 10px;
  color: #0D1821;
  margin: 1em 1em 1em 1em;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
  /* text-align: center; */
}

/*.blog-post-inside {
  background-color: #F0F4EF;
  border: solid #0D1821 3px;
  border-radius: 10px;
  color: #0D1821;
  margin: 1em 1em 1em 1em;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
}*/


.about-me-header {
  background-color: #E6AACE;
  border: solid #0D1821 3px;
  border-radius: 10px;
  color: #0D1821;
  margin: 1em;
  padding: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

.about-me-post {
  background-color: #F0F4EF;
  border: solid #0D1821 3px;
  border-radius: 10px;
  color: #0D1821;
  margin: 1em 1em 1em 1em;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
}

.sprint-title {
  background-color: #F0F4EF;
  text-align: center;
  border: solid #0D1821 3px;
  border-radius: 10px;
  color: #0D1821;
  margin: 1em 1em 1em 1em;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
}

.reflections-link {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
  margin: auto;
  width: 50%;
  text-align: center;
  white-space: nowrap;
  text-overflow: nowrap;
  overflow: hidden;
  padding: 1rem;
  float: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  border: solid #0D1821;
  border-radius: 10px;
  background-color: #E6AACE;

}

/* below are used for examples in Sprint 2 Techinal Blog post */
.inline-span {
  border: solid #344966 2px;
  display: inline;
  width: 200px;
  height: 100px;
}

.inline-block-span {
  border: solid #344966 2px;
  display: inline-block;
  width: 200px;
  height: 100px;
}


/* placeholders below... incase something breaks */
/*
h1   {color: #0D1821}

p    {color: red;}*/